
config PCI
    tristate "PCI Support"
    default y
    help
      Base PCI Bus Support

config PCI_ASSUME_CONTIGUOUS_DEVICES
    bool "Assume Contiguous Devices"
    depends on PCI
    default n
    help
      Assume PCI devices are contiguous within a bus, this is not required, but may speed up boot times by avoiding enumerating every possible bus:device:func.

config PCI_ALLOC_UNINITIALIZED_MMIO_BARS
    bool "Map Uninitialized MMIO BAR(s) Onto RAM"
    depends on PCI
    default n
    help
      If the kernel comes across an uninitialized MMIO BAR (physical address 0)
      then it will attempt to allocate physical memory and re-map the BAR to the memory

config POLLING_PCI_MAILBOX
    bool "Allow Polling for PCI MSI/MSI-X Interrupts"
    depends on PCI && WIP
    default n
    help
      Provide a polling implementation for the PCI mailbox
      subsystem incase a suitable IRQ-chip cannot be found
      in a system.

menu "PCI Configuration Space Access Mechanisms"
depends on PCI

config PCI_PORT_CAM
    bool "Port Configuration Access"
    depends on PORT_IO && PCI
    default y
    help
      Assume a PCI domain exists which can be accessed using the ports 0xCF8 and 0xCFC

config PCI_MMIO_ECAM
    bool "MMIO Enhanced Configuration Access"
    depends on PCI
    default y

config PCI_DEVTREE
    bool "Device Tree PCI Node"
    depends on DEVICETREE && PCI
    select PCI_MMIO_ECAM
    default y
    help
      Look for PCI domain nodes in the device tree

config PCIE_ACPI_MCFG
    bool "ACPI PCIe Discovery"
    depends on ACPI && PCI
    select PCI_MMIO_ECAM
    default y
    help
      Look for a MCFG ACPI table to discover PCIe Extended Configuration Access Mechanisms

endmenu

config DEBUG_LOG_PCI_BAR_ACCESSES
    bool "Debug Log PCI BAR Accesses"
    depends on PCI && DEBUGGING
    default n

config DEBUG_PCI_BAR_ACCESSES
    bool "Debug Bounds Check PCI BAR Accesses"
    depends on PCI && DEBUGGING
    default n

