CONFIG_X64=y
CONFIG_CLANG=y
# CONFIG_GCC is not set
CONFIG_MAX_CPUS=1
CONFIG_KERNEL_LOAD_ADDR=0x200000
CONFIG_VIRTUAL_BASE=0xFFFF800000000000
CONFIG_IDENTITY_MAP_ORDER=39
CONFIG_HEAP_ALIGN_ORDER=30
CONFIG_HEAP_SIZE_ORDER=39

#
# printk Options
#
CONFIG_PRINTK_BUFFER_SIZE=0x1000
CONFIG_PANIC_BUFFER_SIZE=0x1000
CONFIG_PRINTK_MAX_EARLY_HANDLERS=8
# end of printk Options

#
# Debug Options
#
CONFIG_DEBUGGING=y
CONFIG_DEBUG_SYMBOLS=y
# CONFIG_DEBUG_BUDDY_ALLOC is not set
# CONFIG_DEBUG_INIT_STAGES is not set
# end of Debug Options

#
# x64 Options
#
CONFIG_X64_BOOT_STACK_SIZE=0x4000
CONFIG_X64_PROT_MODE_TO_LONG_MODE=y
CONFIG_X64_MULTIBOOT2_BOOT=y
# end of x64 Options

#
# Modules
#
CONFIG_MULTIBOOT2=y
# end of Modules

CONFIG_KANAWHA=y
