
config VIRTIO_BLK
    tristate "Virtio Block Device Driver"
    default y
    depends on VIRTIO
    help
      Include a driver for the virtio-blk device.

config VIRTIO_SCSI
    tristate "Virtio SCSI Device Driver"
    default y
    depends on VIRTIO && SCSI

config NVME
    tristate "NVME Driver"
    default y
    depends on PCI

config IDE
    bool "IDE Driver"
    default y

config LEGACY_IDE
    bool "Legacy IDE Discovery"
    default y
    depends on IDE && PORT_IO

config PCI_IDE
    bool "PCI IDE Discovery"
    default y
    depends on IDE && PCI

config AHCI
    tristate "AHCI Driver"
    depends on PCI
    default y
    depends on WIP

