
config VIRTIO_BLK
    tristate "Virtio Block Device Driver"
    default y
    depends on VIRTIO
    help
      Include a driver for the virtio-blk device.

config NVME
    tristate "NVME Driver"
    default y
    depends on PCI

config IDE
    tristate "IDE Driver"
    default y
    depends on WIP

config AHCI
    tristate "AHCI Driver"
    depends on PCI
    default y
    depends on WIP

