
choice
  prompt "Architecture"
  default X64
  config X64
    bool "x86_64"
    select PORT_IO
    select ACPI
    select ACPI_REQUIRED
  config RISCV64
    bool "RISCV64"
    select DEVICETREE
    select DEVICETREE_REQUIRED
endchoice

choice
  prompt "Toolchain"
  default CLANG
  config CLANG
    bool "Clang/LLVM"
  config GCC
    bool "GCC"
    select TOOLCHAIN_SUPPORTS_BITWISE_ATTRIBUTE
endchoice

config OPT_FLAGS
  string "Compiler Optimization Flags"
  default -O3
  help
    Optimization flags to pass to the compiler

config MAX_CPUS
  int "Max CPU(s)"
  default 1
  help
    Maximum number of CPU(s) in the system.

choice
  prompt "Unhandled Interrupt Reaction"
  default UNHANDLED_IRQ_PANIC
  config UNHANDLED_IRQ_PANIC
    bool "Panic"
  config UNHANDLED_IRQ_WARN
    bool "Warn"
  config UNHANDLED_IRQ_IGNORE
    bool "Ignore"
endchoice

menu "Kernel Memory Layout"

config HEAP_ALIGN_ORDER
  int "Heap Alignment Order"
  default 30
  help
    Order which the kernel heap needs to be aligned to.

config HEAP_SIZE_ORDER
  int "Heap Virtual Size Order"
  default 39
  help
    Order which the kernel heap's virtual memory region should be sized as.

config HEAP_GROWTH_ORDER
  int "Heap Growth Order"
  default 21
  help
    Order of increments to grow the kernel heaps at.

config PERCPU_HEAP_SIZE_ORDER
  int "percpu Heap Virtual Size Order"
  default 32
  help
    Order which each percpu heap's virtual memory region should be sized as.

config MMIO_RESERVE_SIZE_ORDER
  int "Reserved MMIO Virtual Size Order"
  default 32
  help
    Order which reserved MMIO virtual memory region should be sized as.
endmenu

menu "Time Options"
config PERIODIC_RESOLUTION_MS
  int "Periodic Event Resolution (ms)"
  default 10
  help
    Minimum resolution of the "periodic" events subsystem.
    The period of all periodic events will be rounded to the nearest non-zero
    multiple of this number. A higher value will result in fewer timer interrupts,
    but worse latency/longer sleep times than requested.
config TIMESTAMP_RESOLUTION_MS
  int "Timestamp Resolution (ms)"
  default 10
  help
    Resolution of the system "current_timestamp" found in "kanawha/time.h".
    At the moment, this value must be a multiple of PERIODIC_RESOLUTION_MS.
endmenu

menu "Firmware Interfaces"
config ACPI
  bool "ACPI"
  default n
  help
    Include support for the Advanced Power and Configuration Interface (ACPI)

config ACPI_REQUIRED
  bool "ACPI Required"
  default n
  depends on ACPI
  help
    Should the kernel panic if ACPI tables cannot be found?

config DEVICETREE
  bool "Device Tree"
  default n
  help
    Include support for the OpenFirmware Device Tree interface

config DEVICETREE_REQUIRED
  bool "Device Tree Required"
  default n
  help
    Should the kernel panic if a device tree cannot be found?

endmenu

source "kernel/Kconfig"
source "arch/Kconfig"

# Used to check that a .config exists
config KANAWHA
    def_bool y
config MODULES
    def_bool y
config PORT_IO
    def_bool n
config SMP
    def_bool y
    depends on MAX_CPUS > 1

# Toolchain Support
config TOOLCHAIN_SUPPORTS_BITWISE_ATTRIBUTE
    def_bool n

