
config VGA_RAMFILE
    bool "VGA Framebuffer Ramfile"
    default y
    depends on X64 && DEBUGGING && !X64_BOOT_VGA
    help
      Place a ramfile on top of the x64 platform vga framebuffer

config DEBUG_VGA_SERIAL
    bool "Debug VGA Pseudo-Terminal"
    default n
    depends on X64 && DEBUGGING && !X64_BOOT_VGA && !VGA_RAMFILE
    help
      Place a simple pseudo terminal on the platform VGA serial device

