# CONFIG_X64 is not set
CONFIG_RISCV64=y
CONFIG_CLANG=y
# CONFIG_GCC is not set
CONFIG_OPT_FLAGS="-O0"
CONFIG_MAX_CPUS=64
CONFIG_PANIC=y
# CONFIG_WARN is not set
# CONFIG_IGNORE is not set

#
# Kernel Memory Layout
#
CONFIG_KERNEL_LOAD_ADDR=0x0
CONFIG_VIRTUAL_BASE=0xFFFF800000000000
CONFIG_IDENTITY_MAP_ORDER=32
CONFIG_HEAP_ALIGN_ORDER=30
CONFIG_HEAP_SIZE_ORDER=24
CONFIG_PERCPU_HEAP_SIZE_ORDER=32
CONFIG_MMIO_RESERVE_SIZE_ORDER=32
# end of Kernel Memory Layout

#
# Time Options
#
CONFIG_PERIODIC_RESOLUTION_MS=10
CONFIG_TIMESTAMP_RESOLUTION_MS=10
# end of Time Options

#
# Firmware Interfaces
#
CONFIG_ACPI=y
# end of Firmware Interfaces

CONFIG_INIT_PROCESS_PATH="sh"
CONFIG_INIT_PROCESS_ARGS="init.sh"
CONFIG_ROOT_FS_RAMFILE="initrd"
CONFIG_ROOT_FS_FILESYSTEM="cpio"

#
# printk Options
#
CONFIG_KLOG_FRAMESIZE=0x1000
CONFIG_KLOG_BOOT_FRAMES=0x64
CONFIG_PRINTK_BUFFER_SIZE=0x1000
CONFIG_PANIC_BUFFER_SIZE=0x1000
CONFIG_PRINTK_MAX_HANDLERS=8
CONFIG_LOG_INIT_STAGES=y
# end of printk Options

#
# Debug Options
#
CONFIG_DEBUGGING=y
CONFIG_DEBUG_SYMBOLS=y
CONFIG_DEBUG_ASSERTIONS=y
# CONFIG_PERCPU_DEBUG_ASSERTIONS is not set

#
# Strace Options
#
# CONFIG_STRACE_LOG_SYSCALL_BEGIN is not set
# CONFIG_STRACE_LOG_SYSCALL_END is not set
CONFIG_STRACE_LOG_SIGNALS=y
# end of Strace Options

#
# Kernel Address Checking
#
CONFIG_DEBUG_HIGHER_HALF_KERNEL_ADDRESSES=y
# end of Kernel Address Checking

# CONFIG_DEBUG_BUDDY_ALLOC is not set
# CONFIG_DEBUG_KHEAP_TOUCH is not set
# CONFIG_DEBUG_KMALLOC_BITMAP is not set
# CONFIG_DEBUG_INIT_STAGES is not set
CONFIG_DEBUG_SPINLOCK_TRACK_THREADS=y
CONFIG_DEBUG_TRACK_PROCESS_EXEC=y

#
# syscall Logging
#
# CONFIG_DEBUG_SYSCALL_OPEN is not set
# CONFIG_DEBUG_SYSCALL_EXIT is not set
# CONFIG_DEBUG_SYSCALL_WRITE is not set
# CONFIG_DEBUG_SYSCALL_READ is not set
# CONFIG_DEBUG_SYSCALL_ENVIRON is not set
# end of syscall Logging
# end of Debug Options

#
# Filesystems
#
CONFIG_CPIO_FS=y
CONFIG_EXT2_FS=y

#
# sysfs Options
#
# CONFIG_SYSFS_PCI is not set
# end of sysfs Options
# end of Filesystems

#
# Drivers
#

#
# Block Devices
#

#
# Clock Devices
#
CONFIG_ACPI_PM_TIMER_CLK=y
# end of Clock Devices

#
# Serial Devices
#
CONFIG_SERIAL_8250=y
CONFIG_VIRTIO_CONSOLE=y
# CONFIG_QEMU_SERIAL is not set
# end of Serial Devices

#
# Framebuffer Devices
#

#
# Randomness Sources
#
CONFIG_VIRTIO_RNG=y
# end of Randomness Sources

#
# PCI Options
#
CONFIG_PCI=y
CONFIG_PCI_ASSUME_CONTIGUOUS_DEVICES=y

#
# PCI Configuration Space Access Mechanisms
#
# end of PCI Configuration Space Access Mechanisms
# end of PCI Options

CONFIG_PS2=y

#
# PS/2 Devices
#
CONFIG_PS2_KBD=y
# end of PS/2 Devices

#
# Qemu Specific Devices
#
# CONFIG_QEMU_PCI_TEST_DEVICE is not set
# CONFIG_QEMU_PCI_EDU_DEVICE is not set
# end of Qemu Specific Devices

CONFIG_VIRTIO=y

#
# Virtio Transports
#
CONFIG_VIRTIO_PCI=y
# end of Virtio Transports
# end of Drivers

#
# Schedulers
#
CONFIG_DEFAULT_SCHEDULER="rr_sched"
CONFIG_ROUND_ROBIN_SCHED=y
# end of Schedulers

#
# Misc. Modules
#

#
# Multiboot2 Options
#
# end of Multiboot2 Options
# end of Misc. Modules

CONFIG_KANAWHA=y
CONFIG_MODULES=y
CONFIG_SMP=y
