
choice
    prompt "Kmalloc Backend"
    default KMALLOC_KHEAP
    config KMALLOC_KHEAP
        bool "Heap Allocator"
    config KMALLOC_DEBUG_PAGED
        bool "Debug Paged Allocator"
        depends on DEBUGGING
endchoice

