
config INIT_PROCESS_PATH
    string "init Path"
    default "/init"
    help
      Path to search for the init process ELF executable

config INIT_PROCESS_ARGS
    string "init Arguments"
    default ""
    help
      Value to append to "INIT_PROCESS_PATH" to pass as the "ARGV" environment variable to on entry to the init process.

config ROOT_FS_RAMFILE
    string "Root FS Ramfile"
    default "initrd"
    help
      Path to mount the initial ramdisk from

config ROOT_FS_FILESYSTEM
    string "Root FS Filesystem"
    default "cpio"
    help
      Filesystem type to try mounting the root fs as.

menu "printk Options"
config PRINTK_BUFFER_SIZE
    hex "printk Buffer Size"
    default 0x1000
    help
      Size of the printk static buffer in bytes

config PANIC_BUFFER_SIZE
    hex "panic Buffer Size"
    default 0x1000
    help
      Size of the panic static buffer in bytes

config PRINTK_MAX_EARLY_HANDLERS
    int "printk Maximum Early Handlers"
    default 8
    help
      Maximum number of "early" printk handlers during boot
endmenu

menu "Debug Options"
config DEBUGGING
    bool "Enable Debugging Options"
    default n
    help
      Root Debugging Config Option

config DEBUG_SYMBOLS
    bool "Include Debug Symbols"
    depends on DEBUGGING
    default y
    help
      Include debug symbols in kernel binary

config DEBUG_ASSERTIONS
    bool "Enable Debug Assertions"
    depends on DEBUGGING
    default y
    help
      Enable DEBUG_ASSERT Checking

config PERCPU_DEBUG_ASSERTIONS
    bool "Enable percpu Variable Debug Assertions"
    depends on DEBUGGING && DEBUG_ASSERTIONS
    default n
    help
      Enable the DEBUG_ASSERT_PERCPU_VALID assertion, which includes a percpu checksum variable
      used to make sure that the percpu variable subsystem is working correctly.

config DEBUG_BUDDY_ALLOC
    bool "Debug Buddy Allocators"
    depends on DEBUGGING
    default n
    help
      Debug kernel Buddy Allocators

config DEBUG_KHEAP_TOUCH
    bool "Touch kheap Allocations On Alloc and Free"
    depends on DEBUGGING
    default n
    help
      By memset-ing out all allocations made using the kheap allocators both
      during allocation and freeing, then we can trap the allocation and freeing
      with gdb watchpoints, making tracking down double-free errors easier.

config DEBUG_KMALLOC_BITMAP
    bool "Track kmalloc Allocations in a Global Bitmap"
    depends on DEBUGGING
    default n
    help
      Track every byte in the kmalloc heap with a large bitmap of allocations,
      this is really justed used for debugging the underlying allocator implemention,
      though it could be used to catch double free errors
      The static bitmap uses one bit per byte in the virtual size of the heap,
      so a small value of CONFIG_HEAP_SIZE_ORDER must be used.

config DEBUG_INIT_STAGES
    bool "Debug init Stages Framework"
    depends on DEBUGGING
    default n
    help
      Debug the init Stages Framework

config DEBUG_SPINLOCK_TRACK_THREADS
    bool "Spinlock Track Threads"
    depends on DEBUGGING
    default n
    help
      Have each spinlock track which thread is currently holding the lock
      so trivial cases of deadlocks can be detected.

config DEBUG_TRACK_PROCESS_EXEC
    bool "Track Process Exec Path"
    depends on DEBUGGING
    default y
    help
      Track the path string as a process uses the "exec" system call

menu "syscall Logging"
source "kernel/syscall/Kconfig"
endmenu

endmenu

menu "Filesystems"
source "kernel/fs/Kconfig"
endmenu

menu "Drivers"
source "kernel/drivers/Kconfig"
endmenu

menu "Schedulers"
source "kernel/sched/Kconfig"
endmenu

menu "Misc. Modules"

config MULTIBOOT2
    tristate "Multiboot2 Support"
    default n
    depends on X64 || MIPS
    help
      Kernel support for the multiboot2 specification

menu "Multiboot2 Options"
source "kernel/mb2/Kconfig"
endmenu

endmenu
