
config ACPI_INTERPRET_AML
  bool "ACPI AML Interpreter"
  default y
  depends on ACPI && WIP

config ACPI_SYSFS
  bool "ACPI sysfs"
  default y
  depends on ACPI
  help
    Add a sysfs mount representing the ACPI tables registered with the kernel.

