config SCSI
    tristate "SCSI Support"
    default y
    help
      Base SCSI Protocol Support

config VIRTIO_SCSI
    tristate "Virtio SCSI"
    default y
    depends on SCSI && VIRTIO
    help
      Virtio SCSI Driver

