
config DEFAULT_SCHEDULER
    string "Default Scheduler"
    default "rr_sched"
    help
      Name of the default scheduler to assign at boot (or "" if no default scheduler should be assigned)

config ROUND_ROBIN_SCHED
    tristate "Round Robin Scheduler (rr_sched)"
    default y
    help
      Round Robin Scheduler "rr_sched"

config ROUND_ROBIN_SCHED_TIMESLICE_MS
    int "Round Robin Timeslice (ms)"
    default 10
    depends on ROUND_ROBIN_SCHED
    help
      Round Robin Scheduler Timeslice length in milliseconds

