
config GICV2
    tristate "GICv2"
    default y
    depends on DEVICETREE && ARM64

config SIFIVE_PLIC
    tristate "SiFive PLIC"
    default y
    depends on DEVICETREE && RISCV64
    help
      Include a driver for the SiFive PLIC Interrupt Controller

