
config PCI
    tristate "PCI Support"
    default y
    help
      Base PCI Bus Support

config PCI_ASSUME_CONTIGUOUS_DEVICES
    bool "Assume Contiguous Devices"
    default n
    help
      Assume PCI devices are contiguous within a bus, this is not required, but may speed up boot times by avoiding enumerating every possible bus:device:func.

menu "PCI Configuration Space Access Mechanisms"
depends on PCI

config PCI_PORT_CAM
    bool "Port Configuration Access"
    depends on PORT_IO && PCI
    default y
    help
      Assume a PCI domain exists which can be accessed using the ports 0xCF8 and 0xCFC

endmenu

