
menu "Block Devices"
source "kernel/drivers/blk/Kconfig"
endmenu

menu "Clock Devices"
source "kernel/drivers/clk/Kconfig"
endmenu

menu "Serial Devices"
source "kernel/drivers/serial/Kconfig"
endmenu

source "kernel/drivers/pci/Kconfig"
source "kernel/drivers/ps2/Kconfig"
source "kernel/drivers/qemu/Kconfig"

