
config PROCFS
    bool "procfs"
    default y
    help
      Include the "proc" sysfs directory

config SYSFS_PCI
    tristate "sysfs PCI"
    default n
    depends on PCI
    help
      Include a "pci" sysfs directory

