
config USER_BUILD_C_RUNTIME
    bool "Build C Runtime"
    default y

config USER_BUILD_LIBC
    bool "Build C Library"
    default y

config USER_BUILD_DL
    bool "Build Dynamic Linking Library"
    default n
    depends on WIP

config USER_BUILD_KFB
    bool "Build kfb Library"
    default y
    help
      Build a userspace library which makes accessing
      framebuffer devices from userspace much easier.

