
config USB_HID
    bool "USB Human Interface Driver"
    depends on USB
    default y

config PS2_KBD
    tristate "PS/2 Keyboard Driver"
    depends on PS2
    default y

config PS2_MOUSE
    tristate "PS/2 Mouse Driver"
    depends on PS2
    default y

config VIRTIO_INPUT
    tristate "Virtio Input Driver"
    depends on VIRTIO
    default y

